section.repository-list{
    margin: 4rem;

    h1{
        margin-bottom: 2rem;
    }

    ul{
        list-style: none;

        li{
            &+li{
                margin-top: 2rem;
            }

            p{
                font-size: 1rem;
                color: #444;
                margin-top: 0.8rem;
            }

            a{
                display: inline-block;
                margin-top: 1rem;
                text-decoration: none;
                color: #8257e6;
            }
        }
    }
}